<div class="jumbotron">
 <section class="row">
   <div class="col-xs-8"><h1>{{info.infos.etatCivil.nom}} {{info.infos.etatCivil.prenom}}</h1></div>
   <div class="col-xs-4"><img src="assets/image/photoCV.png">  </div>
</section>
</div>
<section class="row">
            <ul>
              <span class="ad glyphicon glyphicon-home"></span>  {{info.infos.adresse.numero}} {{info.infos.adresse.rue}}, {{info.infos.adresse.codePostal}} {{info.infos.adresse.ville}}, {{info.infos.adresse.pays}}<br/>
              <span class="glyphicon glyphicon-sunglasses"></span>  {{info.infos.contact.email}}<br/>
              <span class="glyphicon glyphicon-phone"></span>  {{info.infos.contact.telephone}}</li><br/>
			   <span class="glyphicon glyphicon-plane"></span>  V&eacute;hicul&eacute;</li><br/>
            </ul>
</section>
	